/* screen - finaldeck */

.finaldeck {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 700px;
  min-width: 71666px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.finaldeck .a-V8VMNW {
  background-color: transparent;
  height: 40px;
  left: 89px;
  mix-blend-mode: normal;
  position: absolute;
  top: 301px;
  width: 41px;
}
.finaldeck .beats-you-love-me-1-onw835 {
  background-color: transparent;
  height: 298px;
  left: 28074px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 44px);
  width: 528px;
}
.finaldeck .but-onw835 {
  background-color: transparent;
  height: 204px;
  left: 11169px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 241px;
  width: 811px;
}
.finaldeck .co-creating-a-b-ian-renaissance-onw835 {
  background-color: transparent;
  color: var(--scarlet);
  font-family: var(--font-family-gt_pressura-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 23497px;
  letter-spacing: 0.00px;
  line-height: 50px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 84px);
  transform: rotate(-0.28deg);
  white-space: nowrap;
  width: 452px;
}
.finaldeck .compass-1-onw835 {
  background-color: transparent;
  height: 395px;
  left: 62592px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 211px);
  width: 926px;
}
.finaldeck .damn-V8VMNW {
  background-color: transparent;
  height: 76px;
  left: 109px;
  mix-blend-mode: normal;
  position: absolute;
  top: 351px;
  width: 313px;
}
.finaldeck .ezgif-4-onw835 {
  background-color: transparent;
  height: 569px;
  left: 32211px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 284px);
  width: 885px;
}
.finaldeck .ezgif-5-onw835 {
  background-color: transparent;
  height: 502px;
  left: 43157px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 254px);
  width: 892px;
}
.finaldeck .ezgif-7-onw835 {
  background-color: transparent;
  height: 430px;
  left: 54555px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 215px);
  width: 762px;
}
.finaldeck .frame-3-onw835 {
  background-color: transparent;
  height: 704px;
  left: 8799px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1663px;
}
.finaldeck .free-and-open-googleorg-onw835 {
  background-color: transparent;
  color: var(--scarlet);
  font-family: var(--font-family-gt_pressura-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24015px;
  letter-spacing: 0.00px;
  line-height: 28.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 241px);
  transform: rotate(-0.28deg);
  width: 460px;
}
.finaldeck .give-V8VMNW {
  background-color: transparent;
  height: 72px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 141px;
}
.finaldeck .good-begets-betterr-onw835 {
  background-color: transparent;
  height: 274px;
  left: 25156px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: calc(50.00% - 115px);
  width: 2651px;
}
.finaldeck .good-onw835 {
  background-color: transparent;
  height: 211px;
  left: 52452px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 329px;
  width: 832px;
}
.finaldeck .group-16-ySz6CH {
  background-color: transparent;
  height: 426px;
  left: 28px;
  position: absolute;
  top: 10px;
  width: 422px;
}
.finaldeck .group-18-xbVFqo {
  background-color: transparent;
  height: 488px;
  left: 0px;
  position: absolute;
  top: 111px;
  width: 493px;
}
.finaldeck .group-19-xbVFqo {
  background-color: transparent;
  height: 309px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 493px;
}
.finaldeck .group-36-Tszw5i {
  background-color: transparent;
  height: 599px;
  left: -356px;
  position: absolute;
  top: 17px;
  width: 493px;
}
.finaldeck .handstand-1-onw835 {
  background-color: transparent;
  height: 470px;
  left: 2510px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 233px);
  width: 702px;
}
.finaldeck .i-the-revolutio-ose-ii-iii-iv-v-Tszw5i {
  background-color: transparent;
  color: var(--jacksons-purple);
  font-family: var(--font-family-gt_pressura-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 605px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 398px;
}
.finaldeck .i-the-revolution-of-good-onw835 {
  background-color: transparent;
  height: 70px;
  left: 2429px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 41px);
  width: 838px;
}
.finaldeck .ii-the-equity-of-values-onw835 {
  background-color: transparent;
  height: 69px;
  left: 32268px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 35px);
  width: 769px;
}
.finaldeck .iii-the-future-of-good-onw835 {
  background-color: transparent;
  height: 56px;
  left: 43233px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 40px);
  width: 741px;
}
.finaldeck .image-127-dawT2y {
  background-color: transparent;
  height: 309px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 493px;
}
.finaldeck .image-127-ySz6CH {
  background-color: transparent;
  height: 309px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 477px;
}
.finaldeck .image-134-onw835 {
  background-color: transparent;
  height: 254px;
  left: 43105px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 405px;
  width: 453px;
}
.finaldeck .image-136-onw835 {
  background-color: transparent;
  height: 177px;
  left: 43332px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 330px;
}
.finaldeck .image-148-onw835 {
  background-color: transparent;
  height: 23px;
  left: 10812px;
  mix-blend-mode: normal;
  position: absolute;
  top: 85px;
  width: 23px;
}
.finaldeck .image-150-Tszw5i {
  background-color: transparent;
  height: 16px;
  left: 1480px;
  mix-blend-mode: normal;
  position: absolute;
  top: 637px;
  width: 16px;
}
.finaldeck .image-262-onw835 {
  background-color: transparent;
  height: 554px;
  left: 48386px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 359px;
}
.finaldeck .image-73-Tszw5i {
  background-color: transparent;
  height: 453px;
  left: 615px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 387px;
}
.finaldeck .image-75-Tszw5i {
  background-color: transparent;
  height: 208px;
  left: 342px;
  mix-blend-mode: normal;
  position: absolute;
  top: 372px;
  width: 284px;
}
.finaldeck .iv-creativity-w-w-consciousness-onw835 {
  background-color: transparent;
  height: 133px;
  left: 54595px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 66px);
  width: 670px;
}
.finaldeck .javi-V8VMNW {
  background-color: transparent;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 64px;
  width: 328px;
}
.finaldeck .javier-campopia-y-europe-2020-1-dawT2y {
  background-color: transparent;
  height: 129px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 103px;
  width: 493px;
}
.finaldeck .javier-campopia-y-europe-2020-1-ySz6CH {
  background-color: transparent;
  height: 385px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 103px;
  width: 493px;
}
.finaldeck .jr-inside-out-p-ct-te-dx-venice-onw835 {
  background-color: transparent;
  color: var(--scarlet);
  font-family: var(--font-family-gt_pressura-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 20890px;
  letter-spacing: 0.00px;
  line-height: 50px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 109px);
  transform: rotate(-0.28deg);
  white-space: nowrap;
  width: auto;
}
.finaldeck .khan-academy-yo-learn-anything-onw835 {
  background-color: transparent;
  color: var(--scarlet);
  font-family: var(--font-family-gt_pressura-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24971px;
  letter-spacing: 0.00px;
  line-height: 18px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 139px);
  transform: rotate(-0.28deg);
  width: 177px;
}
.finaldeck .major-lazer-1-onw835 {
  background-color: transparent;
  height: 174px;
  left: 44285px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 60px);
  width: 309px;
}
.finaldeck .people-onw835 {
  background-color: transparent;
  height: 210px;
  left: 64955px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 271px;
  width: 1104px;
}
.finaldeck .rectangle-24-Tszw5i {
  background-color: transparent;
  height: 32px;
  left: 1332px;
  mix-blend-mode: normal;
  position: absolute;
  top: 548px;
  width: 32px;
}
.finaldeck .rectangle-28-Tszw5i {
  background-color: var(--jacksons-purple);
  height: 16px;
  left: 121px;
  mix-blend-mode: normal;
  position: absolute;
  top: 440px;
  width: 16px;
}
.finaldeck .rectangle-4-Tszw5i {
  background-color: #ecebe6;
  height: 700px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 352px);
  width: 3141px;
}
.finaldeck .rectangle-7-Tszw5i {
  background-color: transparent;
  height: 20px;
  left: 1462px;
  mix-blend-mode: normal;
  position: absolute;
  top: 162px;
  width: 20px;
}
.finaldeck .rectangle-77-onw835 {
  background-color: transparent;
  height: 188px;
  left: 5751px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 32px);
  width: 346px;
}
.finaldeck .rectangle-78-onw835 {
  background-color: transparent;
  height: 152px;
  left: 15556px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 309px);
  width: 270px;
}
.finaldeck .rectangle-79-onw835 {
  background-color: transparent;
  height: 210px;
  left: 15125px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 68px);
  width: 282px;
}
.finaldeck .rectangle-80-onw835 {
  background-color: transparent;
  height: 136px;
  left: 16303px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 103px);
  width: 319px;
}
.finaldeck .rectangle-81-onw835 {
  background-color: transparent;
  height: 197px;
  left: 16946px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 322px);
  width: 351px;
}
.finaldeck .rectangle-82-onw835 {
  background-color: transparent;
  height: 272px;
  left: 17949px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 228px);
  width: 495px;
}
.finaldeck .rectangle-83-onw835 {
  background-color: transparent;
  height: 107px;
  left: 18351px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 181px);
  width: 201px;
}
.finaldeck .rectangle-84-onw835 {
  background-color: transparent;
  height: 173px;
  left: 20886px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 241px);
  width: 321px;
}
.finaldeck .rectangle-85-onw835 {
  background-color: transparent;
  height: 232px;
  left: 23488px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 271px);
  width: 424px;
}
.finaldeck .rectangle-86-onw835 {
  background-color: transparent;
  height: 109px;
  left: 24010px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 93px);
  width: 207px;
}
.finaldeck .rectangle-87-onw835 {
  background-color: transparent;
  height: 178px;
  left: 24010px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 95px);
  width: 347px;
}
.finaldeck .rectangle-88-onw835 {
  background-color: transparent;
  height: 113px;
  left: 24966px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 66px);
  width: 212px;
}
.finaldeck .rectangle-89-onw835 {
  background-color: transparent;
  height: 152px;
  left: 30675px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% + 81px);
  width: 283px;
}
.finaldeck .rectangle-90-onw835 {
  background-color: transparent;
  height: 187px;
  left: 56626px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 199px);
  width: 345px;
}
.finaldeck .rectangle-91-onw835 {
  background-color: transparent;
  height: 158px;
  left: 57776px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 237px);
  width: 241px;
}
.finaldeck .shared-value-pullman-unilever-onw835 {
  background-color: transparent;
  color: var(--jacksons-purple);
  font-family: var(--font-family-regis-semibold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 9968px;
  letter-spacing: -2.88px;
  line-height: 118.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  transform: rotate(-0.11deg);
  width: 1310px;
}
.finaldeck .the-badge-of-2020-onw835 {
  background-color: transparent;
  height: 305px;
  left: 34601px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: calc(50.00% - 124px);
  width: 839px;
}
.finaldeck .this-was-good-onw835 {
  background-color: transparent;
  height: 215px;
  left: 15070px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: calc(50.00% - 98px);
  width: 2103px;
}
.finaldeck .this-was-too-onw835 {
  background-color: transparent;
  color: var(--jacksons-purple);
  font-family: var(--font-family-regis-semibold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 18461px;
  letter-spacing: -2.88px;
  line-height: 55px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 331px;
  transform: rotate(-0.11deg);
  width: 896px;
}
.finaldeck .v-finding-your-north-star-onw835 {
  background-color: transparent;
  height: 68px;
  left: 62622px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 45px);
  width: 867px;
}
.finaldeck .vector-55-Tszw5i {
  background-color: transparent;
  height: 619px;
  left: -9px;
  position: absolute;
  top: -33px;
  width: 3163px;
}
.finaldeck .what-gets-us-mediumcom-onw835 {
  background-color: transparent;
  color: var(--scarlet);
  font-family: var(--font-family-gt_pressura-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24013px;
  letter-spacing: 0.00px;
  line-height: 50px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 20px);
  transform: rotate(-0.28deg);
  width: auto;
}
.finaldeck .why-should-V8VMNW {
  background-color: transparent;
  height: 80px;
  left: 100px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}
.finaldeck .writeloop-1-onw835 {
  background-color: transparent;
  height: 312px;
  left: 70058px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 37px);
  width: 312px;
}
.finaldeck .x00-onw835 {
  background-color: transparent;
  height: 700px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 2282px;
}
.finaldeck .x02-onw835 {
  background-color: transparent;
  height: 700px;
  left: 2282px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x03-onw835 {
  background-color: transparent;
  height: 700px;
  left: 11940px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 5862px;
}
.finaldeck .x04-onw835 {
  background-color: transparent;
  height: 700px;
  left: 3434px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 3637px;
}
.finaldeck .x06-onw835 {
  background-color: transparent;
  height: 700px;
  left: 7071px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1728px;
}
.finaldeck .x08-onw835 {
  background-color: transparent;
  height: 700px;
  left: 17803px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1876px;
}
.finaldeck .x09-onw835 {
  background-color: transparent;
  height: 700px;
  left: 19679px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 5610px;
}
.finaldeck .x14-onw835 {
  background-color: transparent;
  height: 700px;
  left: 25289px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 2222px;
}
.finaldeck .x15-onw835 {
  background-color: transparent;
  height: 700px;
  left: 27511px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 3456px;
}
.finaldeck .x18-onw835 {
  background-color: transparent;
  height: 700px;
  left: 32119px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x19-onw835 {
  background-color: transparent;
  height: 700px;
  left: 33271px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x20-onw835 {
  background-color: transparent;
  height: 700px;
  left: 34423px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x21-onw835 {
  background-color: transparent;
  height: 700px;
  left: 35575px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x22-onw835 {
  background-color: transparent;
  height: 700px;
  left: 36727px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x23-onw835 {
  background-color: transparent;
  height: 700px;
  left: 39031px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1705px;
}
.finaldeck .x24-onw835 {
  background-color: transparent;
  height: 700px;
  left: 40736px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1153px;
}
.finaldeck .x25-onw835 {
  background-color: transparent;
  height: 700px;
  left: 43042px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1154px;
}
.finaldeck .x26-onw835 {
  background-color: transparent;
  height: 701px;
  left: 44196px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1157px;
}
.finaldeck .x28-onw835 {
  background-color: transparent;
  height: 701px;
  left: 45353px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 5542px;
}
.finaldeck .x29-onw835 {
  background-color: transparent;
  height: 701px;
  left: 50895px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1154px;
}
.finaldeck .x30-onw835 {
  background-color: transparent;
  height: 701px;
  left: 52049px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1155px;
}
.finaldeck .x31-onw835 {
  background-color: transparent;
  height: 701px;
  left: 53204px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1154px;
}
.finaldeck .x32-onw835 {
  background-color: transparent;
  height: 701px;
  left: 54358px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1153px;
}
.finaldeck .x33-onw835 {
  background-color: transparent;
  height: 701px;
  left: 55512px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 6966px;
}
.finaldeck .x37-onw835 {
  background-color: transparent;
  height: 701px;
  left: 62478px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1153px;
}
.finaldeck .x38-onw835 {
  background-color: transparent;
  height: 701px;
  left: 63631px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1155px;
}
.finaldeck .x39-onw835 {
  background-color: transparent;
  height: 701px;
  left: 64786px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1154px;
}
.finaldeck .x40-onw835 {
  background-color: transparent;
  height: 701px;
  left: 67049px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1155px;
}
.finaldeck .x41-onw835 {
  background-color: transparent;
  height: 701px;
  left: 68204px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1153px;
}
.finaldeck .x54-onw835 {
  background-color: transparent;
  height: 700px;
  left: 37879px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x55-onw835 {
  background-color: transparent;
  height: 701px;
  left: 69357px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1155px;
}
.finaldeck .x56-onw835 {
  background-color: transparent;
  height: 701px;
  left: 70512px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1154px;
}
.finaldeck .x57-onw835 {
  background-color: transparent;
  height: 700px;
  left: 41889px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1153px;
}
.finaldeck .x58-onw835 {
  background-color: transparent;
  height: 701px;
  left: 65897px;
  mix-blend-mode: darken;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
.finaldeck .x63-onw835 {
  background-color: transparent;
  height: 700px;
  left: 30967px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 1152px;
}
